body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
}

.tip {
  margin-top: 60px;
}

.columns {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  max-width: 800px;
  align-items: space-around;
  gap: 50px;
}

.columns .stack {
  text-align: center;
}

.stack img.clickable {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
